asgiref==3.11.0
astroid==4.0.2
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
coverage==7.12.0
coveralls==4.0.2
dill==0.4.0
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
docopt==0.6.2
drf-spectacular==0.29.0
execnet==2.1.2
flake8==7.3.0
flake8-report==0.1.0a1
gunicorn==23.0.0
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
isort==7.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
mccabe==0.7.0
packaging==25.0
pillow==12.0.0
platformdirs==4.5.1
pluggy==1.6.0
psycopg==3.3.2
psycopg-binary==3.3.2
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pylint==4.0.4
pymongo==4.15.5
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-xdist==3.8.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
sqlparse==0.5.4
tomlkit==0.13.3
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.0
whitenoise==6.11.0
